body {
    background-color: #ffffdf;
}

.header {
    background-color: #f2763e;
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin: 0;
    padding: 0;
}

.header ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
    margin: 0;
}

.menu {
    height: inherit;
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.body-section {
    border: 1px solid black;
}